{% extends 'ventanaInicialPickles.html' %}

<head>
    {% block title %}{{title}}{% endblock %}
</head>
{% block contenido %}
    <div class="contenedorInicial">
        <a type="button" class="btn btn-primary" href="{{ url_for('saludo') }}">Saludar</a>
        <a type="button" class="btn btn-primary" href="{{ url_for('triste') }}">Triste</a>
        <a type="button" class="btn btn-primary" href="{{ url_for('agitarBrazos') }}">Agitar Brazos</a>
        <p>{{respuesta}}</p>
    </div>
{% endblock %}